:root {
  --mi-body-color: #57595c;
  --mi-theme-color: #ffe815;
  --mi-primary-color: #0057fc;
  --mi-primary-color-2: #ff5b15;
  --mi-secondary-color: #ff3838;
  // --mi-pink-color: #ff73ae;
  --mi-heading-color: #0a0e1a;
  --mi-grey-color: #b1b4ba;
  // --mi-grey-color-2: #f8f3e7;
}
