@use "../../utils/" as *;

.mi-award {
  @media #{$md} {
    display: flex;
    justify-content: center;
  }
  &-bg {
    @media #{$md,$sm,$xs} {
      padding-top: 70px !important;
      padding-bottom: 50px !important;
    }
  }
  & table {
    & tr:not(:last-child) {
      border-bottom: 1px solid #57595c;
    }
    & td:nth-child(odd) {
      border-right: 1px solid #57595c;
      padding-right: 55px;
    }
    & td:nth-child(even) {
      padding-left: 55px;
    }
    & td:nth-child(3) {
      padding-top: 35px;
    }
    & tr:nth-child(n + 2) td {
      padding-top: 30px;
    }
    & tr:nth-child(1) td,
    tr:nth-child(2) td {
      padding-bottom: 30px;
    }
  }
  &-item {
    & span {
      display: block;
      font-family: var(--mi-font-heading);
      font-size: 20px;
      margin-bottom: 10px;
      @media #{$xs} {
        font-size: 18px;
      }
    }
    & h3 {
      font-weight: 400;
      font-size: 30px;
      display: inline-block;
      @media #{$xs} {
        font-size: 26px;
      }
    }
  }
}
