@use "../../utils/" as *;

/*  3.10 Volunteers  */

.mi-volunteers-area {
  @media #{$md} {
    padding-bottom: 60px !important;
  }
}
.mi-world-map > img {
  width: 100%;
}
.mi-author-shape {
  & img {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 10px 30px 0 rgba(18, 16, 24, 0.2);
    width: 50px;
    height: 50px;
  }
  &-1 {
    top: 42%;
    left: 16%;
  }
  &-2 {
    top: 17%;
    left: 26%;
  }
  &-3 {
    top: 8%;
    left: 47%;
  }
  &-4 {
    top: 72%;
    left: 30%;
  }
  &-5 {
    top: 54%;
    left: 50%;
  }
  &-6 {
    top: 35%;
    left: 66%;
  }
  &-7 {
    top: 8%;
    left: 72%;
  }
  &-8 {
    top: 25%;
    left: 87%;
  }
  &-9 {
    top: 74%;
    left: 88%;
  }
}

// Home 3
.wavy-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  text-decoration-skip-ink: none;
}
.misv {
  background-color: #eefceb;
  &-title {
    font-size: 24px !important;
  }
}
.mi-volunteer {
  &-area {
    @media #{$md,$xs} {
      padding-top: 22px !important;
      padding-bottom: 0 !important;
    }
  }
  &-shape {
    &-1 {
      top: 21%;
      left: 66%;
      & svg {
        position: absolute;
        top: -14px;
        right: -9px;
      }
    }
    &-2 {
      top: 47%;
      left: -34%;
      & svg {
        position: absolute;
        top: -14px;
        left: -9px;
      }
    }
  }
}
